<ion-header>
  <ion-toolbar>
    <ion-title>Menu du Jour</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
     <ion-list>
        <ion-radio-group>
  <ion-item *ngFor="let plat of plats" >
      <ion-avatar slot="start">
        <img src="/assets/pic/{{plat.img}}"/>
      </ion-avatar>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-label>
              {{plat.nom}}
            </ion-label>
          </ion-row>
          <ion-row>
            {{plat.prix}} FCFA
          </ion-row>
        </ion-grid>
      </ion-label>
      <!-- <ion-icon [name]="plat.icon" slot="start"></ion-icon> -->
      <div class="item-note" slot="end">
       <ion-radio slot="start" value={{plat.id}} (click)=selectItem(plat)></ion-radio>
      </div>
  </ion-item>
  </ion-radio-group>
</ion-list>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)=sendCommande()>
   <ion-icon name="restaurant-outline"></ion-icon>
  </ion-fab-button>
 </ion-fab>
</ion-content>
