<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Liste des Commandes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
  <ion-item *ngFor="let commande of commandes" >
      <ion-avatar slot="start">
        <img src="/assets/pic/food.png"/>
      </ion-avatar>
      <ion-label>
          <ion-row>
            <ion-col>
            <ion-label>
             <strong> {{commande.user.prenom}} {{commande.user.nom}}</strong>
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-label>
              {{commande.plat.nom}}
            </ion-label>
          </ion-col>

          </ion-row>
      </ion-label>
  </ion-item>
</ion-list>
</ion-content>
