<ion-header>
  <ion-toolbar>
    <ion-title>Modification Plat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="modifier()" [formGroup]="formGroup" *ngIf="plat" method="POST">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nom</ion-label>
        <ion-input formControlName="nom" type="text"></ion-input>
        <ion-label color="danger" *ngIf="formGroup.controls.nom.hasError('minlength')">Doit
        contenir au moins 2 caractères</ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Prix</ion-label>
        <ion-input formControlName="prix" type="number"></ion-input>
        <ion-label color="danger" *ngIf="prixControl.hasError('required')">Champ obligatoire</ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea formControlName="description"></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-button type="submit" expand="full" [disabled]="formGroup.invalid">Enregistrer</ion-button>
  </form>
</ion-content>
