<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Plats
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Plats</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
  <ion-item *ngFor="let plat of plats" >
      <ion-avatar slot="start">
        <img src="/assets/pic/{{plat.img}}"/>
      </ion-avatar>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-label>
              {{plat.nom}}
            </ion-label>
          </ion-row>
          <ion-row>
            {{plat.prix}} FCFA
          </ion-row>
        </ion-grid>
      </ion-label>
      <!-- <ion-icon [name]="plat.icon" slot="start"></ion-icon> -->
      <div class="item-note" slot="end">
        <ion-icon name="create" color="warning"(click)="modifierPlat (plat.id)"></ion-icon>
        <ion-icon name="trash" color="danger" (click)="deletePlat(plat)"></ion-icon>
      </div>
  </ion-item>
</ion-list>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
   <ion-fab-button routerLink="/tabs/plat/ajouter">
     <ion-icon name="add"></ion-icon>
   </ion-fab-button>
 </ion-fab>

</ion-content>
